<div class="container">
    <div class="my-container margin-top-6">
        <div class="wrapper">
            <div class="footer-widget">
                <img src="../assets/images/logo.png" />
                <p class="desc">
                    Get top quality televisions
                </p>
                <ul class="socials">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-widget">
                <h6>Quick Link</h6>
                <ul class="links">
                    <li><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h6>Our products</h6>
                <ul class="links">
                    <li><a href="#">Cathode-ray tube</a></li>
                    <li><a href="#">LED TV</a></li>
                    <li><a href="#">4K resolution</a></li>
                    <li><a href="#">LCD TV</a></li>
                    <li><a href="#">QLED TV</a></li>
                    <li><a href="#">UHD 4K TV</a></li>
                    <li><a href="#">microLED</a></li>
                    <li><a href="#">Liquid-crystal display</a></li>
                    <li><a href="#">4K TVs</a></li>
                </ul>
            </div>
            <div class="footer-widget">
                <h6>Help &amp; Support</h6>
                <ul class="links">
                    <li><a href="#">support center</a></li>
                    <li><a href="#">live chat</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">terms &amp; conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright-wrapper">
            <p>
                Design and Developed by
                <a href="#" target="blank">Anurag Tiwari</a>
            </p>
        </div>
    </div>
</div>